<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleDictionary.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DataBase"
         connectionString="metadata=res://*/Entities.SDEntities.csdl|res://*/Entities.SDEntities.ssdl|res://*/Entities.SDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SupportDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="SimpleDictionary.Properties.Settings.DBConnectionString"
         connectionString="Data Source=(localdb)\Projects;Integrated Security=True;Initial Catalog=SimpleDictionary;Connect Timeout=15;Encrypt=False"
         providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionTest"
         connectionString="Data Source=10.1.1.127;Initial Catalog=PRIZ;Persist Security Info=True;User ID=sa;Password=zXcvbnm512;Connect Timeout=30"
         providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionLocal"
         connectionString="Data Source=(localdb)\Projects;Integrated Security=True;Initial Catalog=SimpleDictionary;Connect Timeout=15;Encrypt=False"
         providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionSQL"
         connectionString="Data Source=vSQLServ;Initial Catalog=SupportDB;User ID=sa;Password=zXcvbnm512"
         providerName="System.Data.SqlClient" />
    <add name="SimpleDictionary.Properties.Settings.ConnectionTestPRIZ"
         connectionString="Data Source=10.1.1.127;Initial Catalog=PRIZ;Persist Security Info=True;User ID=sa;Password=zXcvbnm512;Connect Timeout=30" />
  </connectionStrings>
  <applicationSettings>
    <SimpleDictionary.Properties.Settings>
      <setting name="UseConnection" serializeAs="String">
        <value>ConnectionLocal</value>
      </setting>
    </SimpleDictionary.Properties.Settings>
  </applicationSettings>
</configuration>